.containerContent {
  font-family: "JetBrains Mono", monospace;
  color: #ebf8ff;
  margin-top: 10px;
  h1 {
    font-size: 48px;
  }
  p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    color: #a0aec0;
  }
}
